@media screen and (max-width: 768px) {
  html,
  body {
    overflow: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  scroll-margin-top: 50px;
  color: $white;

  @include tablet {
    scroll-margin-top: 30px;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  background-color: $bg;
}

.page {
  position: inherit !important;
  height: 100%;
  font-family: $outfit;
  -webkit-text-size-adjust: 100%;

  font-size: 16px;
  line-height: 150%;
}

.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  transition: all 0.2s linear;
  overflow-x: hidden;
}

main {
  padding-top: 100px;
  flex: 1 1 auto;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

section {
  padding: 40px 0;
  @include tablet {
    padding: 50px 0;
  }
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0px 1000px $black inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
